<template>
    <div class="page no-toolbar" data-name="color">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="ios-only" data-i18n="global.back">Back</span>
                    </a>
                </div>
                <div class="title" data-i18n="form.color">Color</div>
            </div>
        </div>

		<div class="page-content">
           <!-- <div class="row justify-content-md-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12" id="divResult" style="display:none">-->
            <div class="block block-segmented">
                <div class="segmented segmented-raised">
					    <button class="button" data-action="en">English</button>
					    <button class="button" data-action="cn">中文</button>
					    <button class="button" data-action="color" data-i18n="form.color">Color</button>
				    </div>
            </div>
                    <div class="header-title"><span data-i18n="color.命盘">命盘</span>
                    </div>
                    <div class="card card-info">
                        <div class="card-body">
                            <div class="table-responsive">
                                <span id="_mingban"></span>
                            </div>
                        </div>
                    </div>
                    <div class="header-title" data-i18n="color.五行">五行</div>
                    <h4 class="block-title sub-title" data-i18n="color.阴阳指数"><span>阴阳指数</span></h4> 
                    <div class="block block-item">
                    <div class="yinyang"><div class="yin">{{yin_ratio}}%<div><span data-i18n="color.阴">阴</span></div></div><div class="yang">{{yang_ratio}}%<div><span data-i18n="color.阳">阳</span></div></div></div>
                    </div>
                    <div class="card card-info">
                        <div class="card-body">
                            <div class="table-responsive">
                                <span id="_wuxing"></span>
                            </div>
                        </div>
                    </div>
                    <div class="header-title" data-i18n="color.大运">大运</div>
                    <div class="card card-info">
                        <div class="card-body">
                            <div class="table-responsive">
                                <span id="_dayun"></span>
                                <br/><br />
                                <span id="_xianghexiangke"></span>
                            </div>
                        </div>
                    </div>

                <!--</div>
            </div>-->
		</div>
        
	</div>
</template>

<style scoped>
    
    .sub-title {
        margin-top: 0px;
        color: #313338;
        font-weight: 600;
        margin-bottom:2px;
    }

    .yinyang{
      position:relative;
      width: 100%;
      height:20px;
      color: #000;
      font-size: 14px;

    }
    .yin {
      text-align:center;
      vertical-align: middle;
      float:left;
      height: 20px;
      line-height: 20px;
      /*background-color: #F7CE68;
      background-image: linear-gradient(90deg, #F7CE68 0%, #FBAB7E 100%);*/
      background-color: #ffffff;
      color: #000;
      border: solid 1px #000;
      border-radius: 10px 0 0 10px;
      
    }

    .yang {
        text-align:center;
        float:right;
        height: 20px;
        line-height: 20px;
        /*background-color: #8BC6EC;
        background-image: linear-gradient(90deg, #8BC6EC 0%, #9599E2 100%);*/
        background-color: #000000;
        color: #fff;
        border-radius: 0px 10px 10px 0px;
    }

    .yin div{
      text-align:left;
      font-size: 16px;
      color: #000;
      padding-left: 2px;
    }

    .yang div {
      text-align:right;
      font-size: 16px;
      color: #000;
      padding-right: 2px;
    }

    {{this}} .dayun th {
        font-size: 12px;
    }
    {{this}} .dayun td {
        font-size: 12px;
    }

    {{this}} .segmented {

    }

    .block-segmented {
        margin: 10px 0;
    }

    .button {
        color: var(--f7-text-color)!important;
    }
    .button-active {
        background:#441066;
        color: #fff!important;
    }

    .green-element {
        background:#009900;
        padding: 3px;
        color:#fff;
    }

    .red-element {
        background:#cc0000;
        padding: 3px;
        color:#fff;
    }

    .brown-element {
        background:#994c00;
        padding: 3px;
        color:#fff;
    }

    .grey-element {
        background:#a0a0a0;
        padding: 3px;
        color:#fff;
    }

    .blue-element {
        background:#000099;
        padding: 3px;
        color:#fff;
    }
</style>
<script>
    return {
        data: function () {
            return {
                client: {},
                yin_ratio:0,
                yang_ratio:0,
            }
        },
        methods: {
            loadData: function (page, firstTime, action) {
                var self = page;
                var language = localStorage.getItem('Bazi_Language') ? JSON.parse(localStorage.getItem('Bazi_Language')) : window.config.i18n;
                var addAction = "";
                var addColor = "nocolor";
                
                if (firstTime) {
                    if (language.lang == "zh_cn" || language.lang == "zh_tw") {
                        $('button[data-action = cn]').addClass('button-active');
                    } else {
                        $('button[data-action = en]').addClass('button-active');
                    }
                } else {
                    if (!(((language.lang == "zh_cn" || language.lang == "zh_tw") && (action == "cn")) || (language.lang == action))) {
                        addAction = (action != "color") ? action : ""
                        addColor = (action == "color") ? action : "nocolor"
                    } 
                }

              
               
                var Id = self.$route.params.id;
                var dbList = [];
                var db;

                dbList = JSON.parse(localStorage.getItem("bazi_list"));
                db = $.grep(dbList, function(n) {
                    return n.id == Id;
                });


                var d = new Date(db[0].dob);
                var t = db[0].time.split(":");

                var a = {
                    cYear: d.getFullYear(), //公历年份
                    cMonth: d.getMonth() + 1, //公历月份
                    cDay: d.getDate(), //公历日期
                    hour: t[0],
                    minute: t[1],
                    gender: db[0].gender
                };

                var result = WanNianLi.getResult(a);
                
                console.log(result);

                self.$setState({
                    yin_ratio: result.yinyang.ratio["yin"],
                    yang_ratio: result.yinyang.ratio["yang"],
                });

             
                $(".yin").css("width", result.yinyang.ratio["yin"] + "%");
                $(".yang").css("width", result.yinyang.ratio["yang"] + "%");

                
                $("#divResult").show();

                
                var _mingban_result;
                _mingban_result = "<table class=\"table mb-0\"> <thead><tr> <th></th> <th>" + i18next.t("color.年柱") + "</th> <th>" + i18next.t("color.月柱") + "</th> <th>" + i18next.t("color.日柱") + "</th> <th>" + i18next.t("color.时柱") + "</th> </tr> </thead> <tbody> "
                _mingban_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.主星") + "</th><td>" + i18next.t("color." + result.zhuxing.year + addAction) + "</td><td>" + i18next.t("color." + result.zhuxing.month + addAction) + "</td><td class=\"text-danger\">" + i18next.t("color." + result.zhuxing.date + addAction) + "</td><td>" + i18next.t("color." + result.zhuxing.hour + addAction) + "</td></tr>";
                _mingban_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.天干") + "</th><td><span class=\"" + i18next.t("color." + result.tiangan.year + addColor) + "\">" +  i18next.t("color." + result.tiangan.year + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.month + addColor) + "\">" +  i18next.t("color." + result.tiangan.month + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.date + addColor) + "\">" +  i18next.t("color." + result.tiangan.date + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.hour + addColor) + "\">" +  i18next.t("color." + result.tiangan.hour + addAction) + "</span></td></tr>";
                _mingban_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.地支") + "</th><td><span class=\"" + i18next.t("color." + result.dizhi.year + addColor) + "\">" +  i18next.t("color." + result.dizhi.year + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.month + addColor) + "\">" +  i18next.t("color." + result.dizhi.month + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.date + addColor) + "\">" + i18next.t("color." + result.dizhi.date + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.hour + addColor) + "\">" + i18next.t("color." + result.dizhi.hour + addAction) + "</span></td></tr>";
                _mingban_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.藏干") + "</th><td>" +
                    getCangganOutput(result.canggan.year, result.cangganwuxing.year, addAction, addColor)
                    + "</td><td>" + getCangganOutput(result.canggan.month, result.cangganwuxing.month, addAction, addColor) + "</td><td>" + getCangganOutput(result.canggan.date, result.cangganwuxing.date, addAction, addColor) + "</td><td>" + getCangganOutput(result.canggan.hour, result.cangganwuxing.hour, addAction, addColor) + "</td></tr>";
                _mingban_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.副星") + "</th><td>" + getFuXingOutput(result.fuxing.year, addAction, addColor, result.wuxingShiShen) + "</td><td>" + getFuXingOutput(result.fuxing.month, addAction, addColor, result.wuxingShiShen) + "</td><td>" + getFuXingOutput(result.fuxing.date, addAction, addColor, result.wuxingShiShen) + "</td><td>" + getFuXingOutput(result.fuxing.hour, addAction, addColor, result.wuxingShiShen) + "</td></tr>";

                _mingban_result += "</tbody> </table> "
                $("#_mingban").html(_mingban_result);

                console.log("<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.喜神") + "</th><td><span class=\"" + i18next.t("aboutme." + result.xisheng + addColor) + "\">" + i18next.t("aboutme." + result.xisheng + addAction) + "</span></td></tr>", "Test1");
                var _wuxing_result;
                //_wuxing_result = "<table class=\"table mb-0\"> <tbody> <tr> <th class=\"table-col-title\">阴阳指数</th> <th><table><tr><td>阴</td><td>阳</td></tr><tr class=\"table-active\"><td>30%</td><td>70%</td></tr></table></th> </tr>  "
                _wuxing_result = ""
                _wuxing_result += "<table class=\"table mb-0\"> <tbody> "
                _wuxing_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.喜神") + "</th><td><span class=\"" + i18next.t("aboutme." + result.xisheng + addColor) + "\">" + i18next.t("aboutme." + result.xisheng + addAction) + "</span></td></tr>";
                _wuxing_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.忌神") + "</th><td><span class=\"" + i18next.t("aboutme." + result.jisheng + addColor) + "\">" + i18next.t("aboutme." + result.jisheng + addAction) + "</span></td></tr>";
                _wuxing_result += "<tr class=\"\"><th class=\"table-col-title\" colspan=\"2\">" + i18next.t("color.天运五行") + "</th></tr>";

                [].forEach.call(Object.keys(result.wuxingShiShen), function (value, index) {
                    _wuxing_result += "<tr class=\"\"><th class=\" table-col-title " + i18next.t("aboutme." + value + addColor) + "\">" +  i18next.t("aboutme." + value) + "</th><td>" + getWuXingShiSheng(result.wuxingShiShen[value], addAction) + "</td></tr>";
                });

                _wuxing_result += "</tbody> </table> "
                $("#_wuxing").html(_wuxing_result);

                var _dayun_result;
                var _dayun_th;
                var _dayun_row1, _dayun_row2, _dayun_row3, _dayun_row4, _dayun_row5;
                var dayun_tiangan_current, dayun_dizhi_current;


                [].forEach.call(Object.keys(result.dayun["dayun"]), function (value, index) {
                    if (result.dayun["dayun"][value].year <=  new Date().getFullYear()) {
                        dayun_tiangan_current = "color." + result.dayun["dayun"][value].tiangan;
                        dayun_dizhi_current = "color." + result.dayun["dayun"][value].dizi;
                    }
                });

                _dayun_result = "<table class=\"table mb-0\"> <thead><tr> <th></th><th>" + i18next.t("color.大运(今年)") + "</th><th>" + i18next.t("color.年柱") + "</th><th>" + i18next.t("color.月柱") + "</th><th>" + i18next.t("color.日柱") + "</th><th>" + i18next.t("color.时柱") + "</th> </tr > </thead > <tbody> "
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.天干") + "</th><td><span class=\"" + i18next.t(dayun_tiangan_current + addColor) + "\">" + i18next.t(dayun_tiangan_current + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.year + addColor) + "\">" + i18next.t("color." + result.tiangan.year + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.month + addColor) + "\">" +  i18next.t("color." + result.tiangan.month + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.date + addColor) + "\">" +  i18next.t("color." + result.tiangan.date + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.tiangan.hour + addColor) + "\">" +  i18next.t("color." + result.tiangan.hour + addAction) + "</span></td></tr>";
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.地支") + "</th><td><span class=\"" + i18next.t(dayun_dizhi_current + addColor) + "\">" + i18next.t(dayun_dizhi_current + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.year + addColor) + "\">" +  i18next.t("color." + result.dizhi.year + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.month + addColor) + "\">" +  i18next.t("color." + result.dizhi.month + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.date + addColor) + "\">" +  i18next.t("color." + result.dizhi.date + addAction) + "</span></td><td><span class=\"" + i18next.t("color." + result.dizhi.hour + addColor) + "\">" +  i18next.t("color." + result.dizhi.hour + addAction) + "</span></td></tr>";
                _dayun_result += "</tbody> </table>";

                

                _dayun_th = "";
                _dayun_row1 = "";
                _dayun_row2 = "";
                _dayun_row3 = "";
                _dayun_row4 = "";
                _dayun_row5 = "";

                var DY;
                DY = result.dayun;
                
                [].forEach.call(Object.keys(result.dayun["dayun"]), function (value, index) {
                    
                    _dayun_th += "<th>" +  result.dayun["dayun"][value].year + "</th>";
                    _dayun_row1 += "<td>" + i18next.t("color." + result.dayun["dayun"][value].zhuxing + addAction) + "</td>";
                    _dayun_row2 += "<td><span class=\"" + i18next.t("color." + result.dayun["dayun"][value].tiangan + addColor) + "\">" + i18next.t("color." + result.dayun["dayun"][value].tiangan + addAction) + "</span></td>";
                    _dayun_row3 += "<td><span class=\"" + i18next.t("color." + result.dayun["dayun"][value].dizi + addColor) + "\">" + i18next.t("color." + result.dayun["dayun"][value].dizi + addAction) + "</span></td>";
                    _dayun_row4 += "<td>" + getCangganOutputNoWuxing(result.dayun["dayun"][value].canggang, addAction, addColor) + "</td>";
                    _dayun_row5 += "<td>" + getFuXingOutput(result.dayun["dayun"][value].fuxing, addAction, addColor, result.wuxingShiShen) + "</td>";
                });

                _dayun_result += "<table class=\"table mb-0 dayun\"> <thead><tr> <th class=\"table-col-title\">" + i18next.t("color.年") + "</th>" + _dayun_th + "</tr > </thead > <tbody> "
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.主星") + "</th>" + _dayun_row1 + "</tr>";
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.天干") + "</th>" + _dayun_row2 + "</tr>";
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.地支") + "</th>" + _dayun_row3 + "</tr>";
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.藏干") + "</th>" + _dayun_row4 + "</tr>";
                _dayun_result += "<tr class=\"\"><th class=\"table-col-title\">" + i18next.t("color.副星") + "</th>" + _dayun_row5 + "</tr>";
                _dayun_result += "</tbody> </table> ";

                $("#_dayun").html(_dayun_result);

                var _xianghexiangke_result;

                _xianghexiangke_result = "<table class=\"table mb-0\"> <thead><tr> <th class=\"table-col-title\">" + i18next.t("color.相生相克") + "</th><th>" + i18next.t("color.结果") + "</th><th>" + i18next.t("color.对策") + "</th> </tr > </thead > <tbody> "
                _xianghexiangke_result += "<tr class=\"\"><td></td><td></td><td></td></tr>";
                _xianghexiangke_result += "<tr class=\"\"><td></td><td></td><td></td></tr>";
                _xianghexiangke_result += "</tbody> </table> <br/><br/>";

                $("#_xianghexiangke").html(_xianghexiangke_result);

            }
        },
        on: {
            pageInit: function () {
                var self = this;

                $(".button").on('click', function(event){
                    $(".button").removeClass("button-active");
                    console.log(this,$(this).data("action"))
                    $(this).addClass("button-active");

                    self.loadData(self, false, $(this).data("action"));
                });


                self.loadData(self, true, "");
                

            }
        }
    }


    function getCangganOutput(input, inputwuxing, action, color) {
        var result = "";
        [].forEach.call(Object.keys(input), function (value, index) {
            result += "<span class=\"" + i18next.t("color." + input[value] + color) + "\">" + i18next.t("color." + input[value] + action) + "<span class=\"m-l-10\">" + i18next.t("aboutme." + inputwuxing[index] + action) + "</span></span>" + "<br/>"
        });
        return result;
    }

    function getCangganOutputNoWuxing(input, action, color) {
        var result = "";
        [].forEach.call(Object.keys(input), function (value, index) {
            result += "<span class=\"" + i18next.t("color." + input[value] + color) + "\">" + i18next.t("color." + input[value] + action) + "</span><br/>"
        });
        return result;
    }

    function getFuXingOutput(input, action, color, otherinfo) {
        var result = "";
        
        [].forEach.call(Object.keys(input), function (value, index) {
            [].forEach.call(Object.keys(otherinfo), function (v, i) {
                if (input[value] in otherinfo[v]){
                    result += "<span class=\"" + i18next.t("aboutme." + v + color) + "\">" + i18next.t("color." + input[value] + action) + "</span><br/>";
                }
                
            })
        });
        return result;
    }

    function getWuXingShiSheng(input, action) {
        var result = "";
        [].forEach.call(Object.keys(input), function (value, index) {
            result +=  i18next.t("color." + value + action) + " " + input[value] + " "
        });
        return result;
    }
</script>