<template>
<div class="page no-toolbar">

		<div class="navbar">
			<div class="navbar-inner">
                <div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="global.back">Back</span>
					</a>
				</div>
				<div class="title" data-i18n="global.help">Help</div>
				
			</div>
		</div>

		<div class="page-content">
            <div class="block text-align-center">
                 <h1 data-i18n="global.help">Help</h1>
            </div>
           
			

			

		</div>

	</div>
</template>
