<template>
<div class="page no-toolbar" data-name="result">

		<div class="navbar">
			<div class="navbar-inner">
                <div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="calculator">Result</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="calculator">Result</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content hide-navbar-on-scroll">
            <div class="profile-header">
				<!--<img class="user-avatar" src="assets/custom/img/boy.svg" alt="" />
				<div class="user-name">Topias Kantola</div>
				<div class="user-actions row">
					<button class="col button button-big button-fill bg-color-red-5">Follow</button>
					<button class="col button button-big button-fill bg-color-teal-5">Message</button>
				</div>-->


                <div class="user">
                    <div class="user-left">
                    <img src="assets/custom/img/boy.svg" class="img-fluid rounded-circle" alt="user profile"></div>
                    <div class="user-body">
                        <h4>Andre Hicks</h4>
                        <span class="d-block"><img src="assets/custom/img/calendar.png" class="icon-date" /><span class="user-dob">2016-10-27 17:00</span></span>
                        <span class="d-block"><img src="assets/custom/img/lunarcalendar.png" class="icon-date" /><span class="user-dob">1983年九月廿二戊时 星期四</span></span>
                    </div>
                </div>
			</div>
			
            <div class="row">
				<div class="col">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/custom/img/horoscope/aquarius.png" class="card-img" />
                            <div class="label">Aquarius</div>
                        </div>
                    </div>
				</div>
				<div class="col">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/custom/img/horoscope/pisces.png" class="card-img" />
                            <div class="label">Aquarius</div>
                        </div>
                    </div>
				</div>
			</div>
            <h4 class="block-title">5 Element</h4>
            <div class="block">
                <img src="assets/custom/img/calendar.png" class="item-img item-good" />
                <img src="assets/custom/img/horoscope/aquarius.png" class="item-img item-good" />
                <img src="assets/custom/img/calendar.png" class="item-img item-good" />
                
            </div>
            <div class="block">
                <img src="assets/custom/img/calendar.png" class="item-img item-bad" />
                <img src="assets/custom/img/horoscope/aquarius.png" class="item-img item-bad" />
            </div>
            
            
            <div class="swiper-container swiper-1">
              
                  <div class="swiper-wrapper swiper-content">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>
                  </div>
                    <div class="swiper-scrollbar"></div>
            </div>
            

            
            <div class="swiper-container swiper-2">
                  <div class="swiper-wrapper swiper-content">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>
                  </div>
                    <div class="swiper-scrollbar"></div>
            </div>
            
            <div class="list custom-list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner item-cell">
								<div class="item-row bg-color-green-1">
									<div class="item-cell">Name</div>
									<div class="item-cell">A</div>
								</div>
                                <div class="item-row bg-color-green-1">
									<div class="item-cell">DOB</div>
									<div class="item-cell">B</div>
								</div>
                                <div class="item-row bg-color-green-1">
									<div class="item-cell">Lunar Calendar</div>
									<div class="item-cell">C</div>
								</div>
                                <div class="item-row bg-color-green-1">
									<div class="item-cell">Gender</div>
									<div class="item-cell">D</div>
								</div>
                                <div class="item-row bg-color-green-1">
									<div class="item-cell">Horoscope</div>
									<div class="item-cell">E</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
                
		</div>

	</div>
</template>
<style scoped>
	.profile-header {
		align-items: stretch;
		background-image: linear-gradient(-20deg, var(--oc-color-gray-7) 0%, var(--oc-color-gray-9) 100%);
		box-sizing: border-box;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 16px;
		text-align: center;
		width: 100%;
	}

    .user {
        display: flex;
        align-items: flex-start;
    }
    .user-left {
        margin: 20px 10px 70px;
    }
    .user img {
        width: 72px;
        height: 72px;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        border: 4px solid #FFFFFF;
    }

    .user .icon-date {
        width: 24px;
        height: 24px;
    }

    .user-body {
        margin-top: 30px;
        flex: 1;
        text-align:left;
    }

    .user-dob {
        font-size: 16px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .card {
        top: -40px;
    }

    .card-body {
        text-align:center;
    }

    .card-img {
        width: 72px;
        height: 72px;
        border-radius: 50% !important;
        border: 1px solid #00b1f2;
        padding: 5px;
    }

    .label {
        font-size: 18px;
        font-weight:600;
    }

    .item-img {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .item-good {
        border-radius: 50% !important;
        border: 1px solid #b8f2bd;
        background: #ccf6d0 linear-gradient(180deg, #d2f6d6, #ccf6d0) repeat-x;
    }

    .item-bad {
        border-radius: 50% !important;
        border: 1px solid #ffc7c8;
        background: #ffd7d7 linear-gradient(180deg, #fddcdc, #ffd7d7) repeat-x;
    }

    .swiper-container {
      width: 100%;
      height: 80px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      border: 1px solid;
      width: 90%
    }

    .swiper-scrollbar {
        display: none;
    }
   
</style>
<script>
    return {
        data: function () {
            return {
                calendar_range: {},
                classes: {},
                view_date: ''
            }
        },
        methods: {
            initializeSwiperSlider: function() {
                var self = this;
                var mySwiper = app.swiper.create('.swiper-1', {
                    slidesPerView: 'auto',
                    spaceBetween: 10,
                    centeredSlides: true,
                    speed: 900,
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        hide: true
                    },
                    on: {
                        init: function () {
                            console.log('swiper initialized');
                        },
                        transitionStart: function () {
                            console.log('transitionStart');
                        },
                        transitionEnd: function () {
                            console.log('transitionEnd');
                        }, 
                        reachBeginning: function() {
                            console.log('reachBeginning');
                        }, 
                        slideChange: function() {
                            console.log('slideChange');
                        }
                    },
                });


                app.swiper.create('.swiper-2', {
                    slidesPerView: 2,
                    spaceBetween: 10,
                    freeMode: true,
                    centeredSlides: true,
                    speed: 900,
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        hide: true
                    },
                    on: {
                        init: function () {
                            console.log('swiper initialized-1');
                        },
                        transitionStart: function () {
                            console.log('transitionStart-1');
                        },
                        transitionEnd: function () {
                            console.log('transitionEnd-1');
                        }, 
                        reachBeginning: function() {
                            console.log('reachBeginning-1');
                        }, 
                        slideChange: function() {
                            if ($(this)[0], $(this)[0].activeIndex == 0) {
                                var left = $(".block-title").offset().left;
                                //$(this)[0].setTranslate(left);
                                $(".swiper-content").css({transform: "translate3d(" + left + "px, 0px, 0px)"});
                                //$(".swiper-content").css({transform: "translate3d(" + left + "px, 0px, 0px)"});
                            }
                            console.log('slideChange-1', $(this)[0], $(this)[0].activeIndex);
                        }
                    },
                });
                
                var left = $(".block-title").offset().left;
                $(".swiper-content").css({transform: "translate3d(" + left + "px, 0px, 0px)"});
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                self.initializeSwiperSlider();

                var Id = self.$route.params.id;
                var db;
                db = $.grep(app.data.db_list, function(n) {
                    return n.id == Id; 
                });
                //console.log(Id, db, db[0].dob, app);
                //console.log(app.view.current.router, app.views.current.history);
                
            }
        }
    }
</script>